/* Reset default styles */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  height: 100%;
}

html {
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}